<%= render 'shared/errors', obj: @pet %>
<div class='row'>
  <div class='col-xs-10'>
    <%= form_for(@pet, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="col-sm-25">
          <%= f.text_field :name, class: "form-control", placeholder: "Pet Name", autofocus: true %>
        </div>
      </div>
    <div class="form-group">
      <div class="col-sm-25">
        <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Pet's description", id: "petdescribe" %>
      </div>
    <div class="form-group">
      <div class="float-sm-left col-sm-10">
        <%= f.submit class: "btn btn-primary btn-lg" %>
      </div>
    </div>
    <% end %>
    <div class="col-xs-4 col-xs-offset-4">
      [ <%= link_to "Back to Pets listing", pets_path %> ]
    </div>
  </div>
</div>
