<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin-top: 0px; margin-left: 0px; margin-right: 0px;">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class="centre container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
